Thumbs.db
*.log
*.bak
.DS_Store
*.o
*.a
*.cfg
tags
cscope.*
bochsout.txt
*.orig
*.rej
*.swp



gkd.xml
jmpDB.mv.db
libgluegen-rt.so
libjogl.so
libjogl_awt.so
libjogl_cg.so
peter-bochs-debugger20130922.jar
peter-bochs.xml
run.txt

*~
